<body>
  <div class="container edit-con">
    <h1 class="center">Update Product</h1>



    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          formControlName="name"
          id="name"
          type="text"
          [(ngModel)]="category.name"
          class="form-control"
        />
        <div
          *ngIf="f['name'].touched && f['name'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['name'].errors && f['name'].errors['required']">
            Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input
          formControlName="address"
          id="address"
          type="text"
          [(ngModel)]="category.address"
          class="form-control"
        />
        <div
          *ngIf="f['address'].touched && f['address'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['address'].errors && f['address'].errors['required']">
            Address is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email_address">Email Address:</label>
        <input
          formControlName="email_address"
          id="email_address"
          type="text"
          [(ngModel)]="category.email_address"
          class="form-control"
        />
        <div
          *ngIf="f['email_address'].touched && f['email_address'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['email_address'].errors && f['email_address'].errors['required']">
            Email address is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contact_number">Contact Number:</label>
        <input
          formControlName="contact_number"
          id="contact_number"
          type="text"
          [(ngModel)]="category.contact_number"
          class="form-control"
        />
        <div
          *ngIf="f['contact_number'].touched && f['contact_number'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['contact_number'].errors && f['contact_number'].errors['required']">
            Contact number is required.
          </div>
        </div>
      </div>
      <a href="#" routerLink="/category/patient" class="btn btn-primary">Back</a>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
        Update
      </button>
    </form>
  </div>
</body>
