<div class="container">
  <h1>View Customer</h1>

  <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a>

  <div class="content">
    <div>
      <strong>ID:</strong>
      <p>{{ category.id }}</p>
    </div>

    <div>
      <strong>Name:</strong>
      <p>{{ category.name }}</p>
    </div>

    <div>
      <strong>Address:</strong>
      <p>{{ category.address }}</p>
    </div>
    <div>
      <strong>Contact No:</strong>
      <p>{{ category.contactno }}</p>
    </div>
    <div>
      <strong>Email Address:</strong>
      <p>{{ category.emailadd }}</p>
    </div>
  </div>
</div>
